* {
  font-family:
    JetBrainsMono Nerd Font,
    Regular;
  font-weight: 400;
  font-size: 13.5pt;
  color: #D4D5D5;
}

window#waybar {
  border: none;
  background-color: rgba(8, 8, 12, 1.0);
  /* background-color: transparent; */
}

tooltip {
  border: 1px solid rgba(199, 202, 219, 1);
  background: rgba(0, 0, 0, 1);
  border-radius: 8px;
}

#disk,
#disk-home,
#custom-weather,
#tray,
#cpu,
#memory {
  margin-left: 7px;
  margin-right: 10px;
}

#clock {
  margin-left: 20px;
  margin-right: 15px;
}

#keyboard-state {
  margin-left: 7px;
  margin-right: 0px;
}

#language {
  margin-left: 0px;
  margin-right: 10px;
}

#custom-battery {
  margin-left: 7px;
  margin-right: 20px;
}
